{% extends "index.j2" %}
{% block title %}{{ gettext('Page not found') }}{% endblock %}

{% block body %}

<div class="centered-message">
    <h1>{{ gettext('Page not found') }}</h1>
</div>

{% endblock %}
