{% extends "index.html" %}
{% block title %}{{ gettext('Trombinoscope') }}{% endblock %}

{% block body %}

<div id="mainAllPersonsContainer">

  <div class="allPersonsHeader">
          {% if list_mode is none %}
          <a class="mdl-navigation__link" href="{{ url_for('show_all') }}?list=true" title="Show as list">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">view_list</i>
            View as list
          </a>
          {% else %}
          <a class="mdl-navigation__link" href="{{ url_for('show_all') }}" title="Show as grid">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">view_module</i>
            View as grid
          </a>
          {% endif %}
  </div>

  {% if list_mode is none %}

  <div class="mdl-grid custom-grid">
    {% if persons|length == 0 %}
      Nobody to display
    {% else %}
      {% for person in persons %}
      <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone card-style" style="background: url({{ url_for('person_image', login=person.login) }}) center / cover;">
        <a href="/person/{{ person.login }}">
          <span class="mdl-ripple"></span>
          <div class="cell-spacer"></div>
          <div class="cell-text-container">
            <span class="cell-text">
              {{ person.name }} {{ person.surname.upper() }}
            </span>
          </div>
        </a>
      </div>
      {% endfor %}
    {% endif %}
  </div>

  {% else %}

  <div class="list_data_table_container">
    <table class="list_data_table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">{{ gettext('Picture') }}</th>
          <th class="mdl-data-table__cell--non-numeric">{{ gettext('Name') }}</th>
          <th class="mdl-data-table__cell--non-numeric">{{ gettext('Surname') }}</th>
          <th class="mdl-data-table__cell--non-numeric">{{ gettext('Team') }}</th>
          <th class="mdl-data-table__cell--non-numeric">{{ gettext('Title') }}</th>
          <th class="mdl-data-table__cell--non-numeric">{{ gettext('VCard') }}</th>
        </tr>
      </thead>
      <tbody>
        {% for person in persons %}
        <tr>
          <td class="mdl-data-table__cell--non-numeric"><a href="/person/{{ person.login }}"><div class="list_list_img" style="background: url({{ url_for('person_image', login=person.login) }}) center / cover;"></div></a></td>
          <td class="mdl-data-table__cell--non-numeric">{{ person.name }}</td>
          <td class="mdl-data-table__cell--non-numeric">{{ person.surname }}</td>
          <td class="mdl-data-table__cell--non-numeric">{{ person.team.name }}</td>
          <td class="mdl-data-table__cell--non-numeric">{{ person.job }}</td>
          <td class="mdl-data-table__cell--non-numeric"><a href="/person/vcard/vcard-{{ person.login }}.vcf" download><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">{{ gettext('VCard') }}</button></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% endif %}

</div>
{% endblock %}
