{% extends "index.html" %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
crossorigin=""/>
 <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
   integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
   crossorigin="">
</script>
{% endblock %}

{% block body %}

<div>
    <h2>Find a floor</h2>
    <select onchange="if (this.value) window.location.href=this.value">
        <option selected>Choose a floor</option>
        {% for floor in floors %}
        <option value="/map/floor/{{ floor.id }}">{{ floor }}</option>
        {% endfor %}
    </select>
</div>


<!-- Displaying the map only if needed -->
{% if selected_floor is not none %}

{% if selected_room is not none %}
    <h2>{{ selected_floor }} > {{ selected_room }}</h2>
{% else %}
    <h2>{{ selected_floor }}</h2>
{% endif %}

<div id="mapid"></div>

<script>
// create the map
    var map = L.map('mapid', {
        center: [0, 0],
        zoom: 7
    });
    // create the image
    var imageUrl = '/static/images/maps/{{ selected_floor.id }}.png'
    var imageBounds = [[0, 0], [250, 250]];
    var overlay = L.imageOverlay(imageUrl, imageBounds);
    overlay.addTo(map);
    // zoom the map to the polygon
    map.fitBounds(imageBounds);

    // TODO : iterate over all the rooms to display them on the map
    {% if selected_room is not none %}
        var personRoomX = {{ selected_room.coordinate_x }}
        var personRoomY = {{ selected_room.coordinate_y }}
        L.marker([personRoomX, personRoomY]).addTo(map)
    {% endif %}

    // TODO : use selected_room to focus on a specific room on the map

</script>

{% endif %}

{% endblock %}