{% extends "index.html" %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
crossorigin=""/>
 <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
   integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
   crossorigin="">
</script>
<script src='{{ url_for('static', filename='js/jquery.min.js') }}'></script>
{% endblock %}

{% block body %}

<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <div class="profile-image" style="background: url({{ url_for('person_image', login=person.login) }}) center / cover;"style="background: url({{ url_for('person_image', login=person.login) }}) center / cover;">
    </div>
    <div class="profile-info-header">
      <div class="profile-info">
        <span class="profile-info-title">{{ person.name }} {{ person.surname }}</span>
        <br />
        <span class="profile-info-below">{{ person.job }}</span>
        <br />
        <br />
        <span class="profile-info-subtitle">{{ person.team }}</span>
      </div>
    </div>
  </div>
  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
    <a href="#about-panel" class="mdl-tabs__tab is-active">Infos</a>
    <a href="#members-panel" class="mdl-tabs__tab">Team</a>
    <a href="#albums-panel" class="mdl-tabs__tab">Location</a>
    <a href="#test" class="mdl-tabs__tab">Tags</a>
  </div>
  <div class="mdl-tabs__panel is-active" id="about-panel">
    <ul class="mdl-list">
    <!-- EMAIL -->
    {% if person.email != None and person.email != '' %}
    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-icon">email</i>
        {{ person.email }}
        <span class="mdl-list__item-sub-title">Mail</span>
      </span>
    </li>
    {% endif %}
    <!-- PHONE -->
    {% if person.fixe != None and person.fixe != '' %}
    <li class="mdl-list__item mdl-list__item--two-line">
      <span class=" mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-icon">phone</i>
        {{ person.fixe }}
        <span class="mdl-list__item-sub-title">Phone</span>
      </span>
    </li>
    {% endif %}
    <!-- MOBILE PHONE -->
    {% if person.mobile != None and person.mobile != '' %}
    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-icon">phone</i>
        {{ person.mobile }}
        <span class="mdl-list__item-sub-title">Phone (mobile)</span>
      </span>
    </li>
    {% endif %}
    </ul>
  </div>
  <div class="mdl-tabs__panel" id="team-panel">
    <p>The Beatles' members were:</p>
    <ul>
      <li>John Lennon (1940-1980)</li>
      <li>Paul McCartney (1942-)</li>
      <li>George Harrison (1943-2001)</li>
      <li>Ringo Starr (1940-)</li>
    </ul>
  </div>
  <div class="mdl-tabs__panel" id="albums-panel">
    <div id="profile-map"></div>
  </div>
</div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Get Started
    </a>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div>
</div>

<div class="profile-grid mdl-grid">
  <div class="profile-card profile-info-card mdl-cell mdl-cell--8-col">

    <div class="profile-info-subsection">
      PIZZAŒ
    </div>
    </div>

  <div class="profile-card mdl-cell mdl-cell--4-col">

  </div>

    <div class="profile-card profile-tags-card mdl-cell mdl-cell--4-col">
    <span class="mdl-chip">
      <span class="mdl-chip__text">Smoke Detector</span>
    </span>
    <span class="mdl-chip">
      <span class="mdl-chip__text">Siren</span>
    </span>
    <span class="mdl-chip">
      <span class="mdl-chip__text">Doortags</span>
    </span>
  </div>
  <div class="profile-card profile-contact-card mdl-cell mdl-cell--4-col">
  CONTACTS

  </div>
  <div class="profile-card profile-date-card mdl-cell mdl-cell--3-col">
  DATES
  </div>
  <div class="profile-card profile-team-card mdl-cell mdl-cell--2-col">
    MANAGER<br/>
    <div class="manager-image" style="background: url({{ url_for('person_image', login=person.manager.login) }}) center / cover;"style="background: url({{ url_for('person_image', login=person.login) }}) center / cover;"></div>
  </div>
  <div class="profile-card profile-team-card mdl-cell mdl-cell--10-col">
  MANAGES<br/>
  {% for team_member in person.subordinates %}
    <span class="mdl-chip mdl-chip--contact" onclick="location.href='/person/{{ team_member.login }}'">
      <img class="mdl-chip__contact" src="{{ url_for('person_image', login=team_member.login) }}"></img>
      <span class="mdl-chip__text">{{ team_member.name }} {{ team_member.surname | upper }}</span>
    </span>
  {% endfor %}
  </div>
</div>

<script>
// We only load the map if the person has one
{% if person.room is not none %}
$(window).on('load', function() {
  showPersonMap(
    {{ person.room.floor.id }},
    {{ person.room.coordinate_x }},
    {{ person.room.coordinate_y }}
  );
});
{% else %}
// Not calling show map for this person
{% endif %}
var map;
function showPersonMap(floorId, personX, personY) {
  // create the marker
  var marker = L.marker([personX, personY]);
  // create the map
   map = L.map('profile-map', {
      center: marker.getLatLng(),
      zoom: 1
  });
  // create the image
  // TODO Use a better way to access images, but as of now it does weird stuff with Jinja2 and JS
  var imageUrl = '/static/images/maps/' + floorId + '.png'
  var imageBounds = [[0, 0], [250, 250]];
  L.imageOverlay(imageUrl, imageBounds).addTo(map);
  // add the marker to the map
  marker.addTo(map);
}
function showSnackbar(text) {
    var snackbarContainer = document.querySelector('#snackbar-root');
    var data = {
      message: text,
      timeout: 2000,
    };
    snackbarContainer.MaterialSnackbar.showSnackbar(data);
}
</script>

{% endblock %}