{% extends "index.html" %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
crossorigin=""/>
 <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
   integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
   crossorigin="">
</script>
<script src='{{ url_for('static', filename='js/jquery.min.js') }}'></script>


<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.orgchart.css') }}" media="screen" />
<script src='{{ url_for('static', filename='js/jquery.min.js') }}'></script>
<script src='{{ url_for('static', filename='js/jquery.orgchart.min.js') }}'></script>
{% endblock %}

{% block body %}

<div class="mdl-card profile-card mdl-shadow--2dp">
  <div class="mdl-card__title profile-card-header">
    <div class="profile-image" style="background: url({{ url_for('person_image', login=person.login) }}) center / cover;"style="background: url({{ url_for('person_image', login=person.login) }}) center / cover;">
    </div>
    <div class="profile-info-header">
      <div class="profile-info">
        <span class="profile-info-title">{{ person.name }} {{ person.surname }}</span>
        <br />
        <span class="profile-info-below">{{ person.job }}</span>
        <br />
        <br />
        <span class="profile-info-subtitle"></span>
      </div>
    </div>
  </div>
  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
    <a href="#team-panel" class="mdl-tabs__tab  is-active">Team</a>
    <a href="#albums-panel" class="mdl-tabs__tab">Location</a>
    <a href="#test" class="mdl-tabs__tab">Tags</a>
    <a href="#about-panel" class="mdl-tabs__tab">Infos</a>
  </div>

  <div class="mdl-tabs__panel is-active person-panel" id="team-panel">
    Team:
    <br />
    {{ person.team }}
    <br />
    <br />
    Team:
    <br />
    <div id="chart-container"></div>
  </div>


  <div class="mdl-tabs__panel person-panel" id="about-panel">
    <ul class="mdl-list">
        <!-- BIRTHDAY -->
        {% if person.birthday != '' %}
        <li class="mdl-list__item mdl-list__item--two-line">
          <span class="mdl-list__item-primary-content">
            <span class="mdl-ripple"></span>
            <i class="material-icons mdl-list__item-icon">cake</i>
            {{ person.get_pretty_birthday_date() }}
            <span class="mdl-list__item-sub-title">Birthday</span>
          </span>
        </li>
        {% endif %}
        <!-- ARRIVAL -->
        {% if person.arrival != '' %}
        <li class="mdl-list__item mdl-list__item--two-line">
          <span class="mdl-list__item-primary-content">
              <span class="mdl-ripple"></span>
            <i class="material-icons mdl-list__item-icon">person_add</i>
            {{ person.get_pretty_arrival_date() }}
            <span class="mdl-list__item-sub-title">Arrival</span>
          </span>
        </li>
        {% endif %}
    </ul>

    <div class="horizontalSeparationLine"></div>

    <ul class="mdl-list">
    <!-- EMAIL -->
    {% if person.email != None and person.email != '' %}
    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-icon">email</i>
        {{ person.email }}
        <span class="mdl-list__item-sub-title">Mail</span>
      </span>
    </li>
    {% endif %}
    <!-- PHONE -->
    {% if person.fixe != None and person.fixe != '' %}
    <li class="mdl-list__item mdl-list__item--two-line">
      <span class=" mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-icon">phone</i>
        {{ person.fixe }}
        <span class="mdl-list__item-sub-title">Phone</span>
      </span>
    </li>
    {% endif %}
    <!-- MOBILE PHONE -->
    {% if person.mobile != None and person.mobile != '' %}
    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-icon">phone</i>
        {{ person.mobile }}
        <span class="mdl-list__item-sub-title">Phone (mobile)</span>
      </span>
    </li>
    {% endif %}
    </ul>

  </div>


  <div class="mdl-tabs__panel person-panel" id="albums-panel">
    {% if person.room is not none %}
        <p>Location: {{ person.room.name }}@{{ person.room.floor.name }}</p>
        <div id="profile-map"></div>
      {% else %}
        <p>No location for this person yet.</p>
      {% endif %}
  </div>



</div>
  <div class="mdl-card__actions mdl-card--border">
    <a href="/person/vcard/vcard-{{ person.login }}.vcf" download class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      V-Card
    </a>
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Report an error
    </a>
  </div>
  <div class="mdl-card__menu">
    NOTHING
  </div>
</div>


<script>
// We only load the map if the person has one
{% if person.room is not none %}
$(window).on('load', function() {
  showPersonMap(
    {{ person.room.floor.id }},
    {{ person.room.coordinate_x }},
    {{ person.room.coordinate_y }}
  );
});
{% else %}
// Not calling show map for this person
{% endif %}
var map;
function showPersonMap(floorId, personX, personY) {
  // create the marker
  var marker = L.marker([personX, personY]);
  // create the map
   map = L.map('profile-map', {
      center: marker.getLatLng(),
      zoom: 1
  });
  // create the image
  // TODO Use a better way to access images, but as of now it does weird stuff with Jinja2 and JS
  var imageUrl = '/static/images/maps/' + floorId + '.png'
  var imageBounds = [[0, 0], [250, 250]];
  L.imageOverlay(imageUrl, imageBounds).addTo(map);
  // add the marker to the map
  marker.addTo(map);
}
function showSnackbar(text) {
    var snackbarContainer = document.querySelector('#snackbar-root');
    var data = {
      message: text,
      timeout: 2000,
    };
    snackbarContainer.MaterialSnackbar.showSnackbar(data);
}
</script>

<script type="text/javascript">
    $(function() {

    var datasource = {{ datasource | safe }}

    var oc = $('#chart-container').orgchart({
      'data' : datasource,
      'nodeContent': 'title',
      'toggleSiblingsResp': true,
      'pan': true,
      'zoom': true,
      'createNode': function($node, data) {
        var url = "/photo/" + data.login
        var image = '<div class="chart-photo" style="height:130px; width:118px; filter: grayscale(100%); background: url(\''+ url +'\')  center / cover;"><br /></div>';
        var infos = $node.find(".content")[0];
        infos.innerHTML = image + "</br>" + data.title;
      }
    });
    oc.zoom(2, [20,20]);

  });
</script>


{% endblock %}