{% extends "index.html" %}

{% block body %}

<div class="personCard">

  <div class="personCardHeader">
    <div class="personCardHeaderAvatar" style="background: url({{ url_for('static', filename='images/photos/' + person.login + '.jpg') }}) center / cover;"></div>
    <div class="personCardHeaderName">{{ person.name }} {{ person.surname.upper() }}</div>
    <div class="personCardHeaderDescription">{{ person.job }}</div>
  </div>

  <div class="mdl-card__supporting-text">
      {% if person.manager is not none %}
      <ul class="mdl-list">
          <!-- TEAM -->
          <li onclick="location.href='/team/{{ person.team.name }}'" class="mdl-list__item mdl-list__item--two-line mdl-js-ripple-effect">
            <span class="rippleContainer mdl-list__item-primary-content">
             <span class="mdl-ripple"></span>
              <i class="material-icons mdl-list__item-icon">group_work</i>
              {{ person.team.name }}
              <span class="mdl-list__item-sub-title">Team</span>
            </span>
          </li>
          <!-- MANAGER -->
          {% if person.manager is not none %}
          <li onclick="location.href='/person/{{ person.manager.login }}'" class="mdl-list__item mdl-list__item--two-line mdl-js-ripple-effect">
            <span class="rippleContainer mdl-list__item-primary-content">
                <span class="mdl-ripple"></span>
              <i class="material-icons mdl-list__item-icon">supervisor_account</i>
              {{ person.manager.name }} {{ person.manager.surname }}
              <span class="mdl-list__item-sub-title">Manager</span>
            </span>
          </li>
          {% endif %}
      </ul>
      <div class="horizontalSeparationLine"></div>
      {% endif %}
      <ul class="mdl-list">
          <!-- EMAIL -->
          {% if person.email != '' %}
          <li onclick="copyToClipboard('{{ person.email }}')" class="mdl-list__item mdl-list__item--two-line mdl-js-ripple-effect">
            <span class="rippleContainer mdl-list__item-primary-content">
             <span class="mdl-ripple"></span>
              <i class="material-icons mdl-list__item-icon">email</i>
              {{ person.email }}
              <span class="mdl-list__item-sub-title">Mail</span>
            </span>
          </li>
          {% endif %}
          <!-- SKYPE -->
          {% if person.skype != '' %}
          <li onclick="copyToClipboard('{{ person.skype }}')" class="mdl-list__item mdl-list__item--two-line mdl-js-ripple-effect">
            <span class="rippleContainer mdl-list__item-primary-content">
                <span class="mdl-ripple"></span>
              <i class="material-icons mdl-list__item-icon">phone</i>
              {{ person.skype }}
              <span class="mdl-list__item-sub-title">Skype</span>
            </span>
          </li>
          {% endif %}
          <!-- PHONE -->
          {% if person.fixe != '' %}
          <li onclick="copyToClipboard('{{ person.fixe }}')" class="mdl-list__item mdl-list__item--two-line mdl-js-ripple-effect">
            <span class="rippleContainer mdl-list__item-primary-content">
             <span class="mdl-ripple"></span>
              <i class="material-icons mdl-list__item-icon">phone</i>
              {{ person.fixe }}
              <span class="mdl-list__item-sub-title">Phone</span>
            </span>
          </li>
          {% endif %}
          <!-- MOBILE PHONE -->
          {% if person.mobile != '' %}
          <li onclick="copyToClipboard('{{ person.mobile }}')" class="mdl-list__item mdl-list__item--two-line mdl-js-ripple-effect">
            <span class="rippleContainer mdl-list__item-primary-content">
                <span class="mdl-ripple"></span>
              <i class="material-icons mdl-list__item-icon">phone</i>
              {{ person.mobile }}
              <span class="mdl-list__item-sub-title">Phone (mobile)</span>
            </span>
          </li>
          {% endif %}
      </ul>
      <div class="horizontalSeparationLine"></div>
      <ul class="mdl-list">
          <!-- BIRTHDAY -->
          {% if person.birthday != '' %}
          <li onclick="copyToClipboard('{{ person.birthday }}')" class="mdl-list__item mdl-list__item--two-line mdl-js-ripple-effect">
            <span class="rippleContainer mdl-list__item-primary-content">
             <span class="mdl-ripple"></span>
              <i class="material-icons mdl-list__item-icon">cake</i>
              {{ person.get_pretty_birthday_date() }}
              <span class="mdl-list__item-sub-title">Birthday</span>
            </span>
          </li>
          {% endif %}
          <!-- ARRIVAL -->
          {% if person.arrival != '' %}
          <li onclick="copyToClipboard('{{ person.arrival }}')" class="mdl-list__item mdl-list__item--two-line mdl-js-ripple-effect">
            <span class="rippleContainer mdl-list__item-primary-content">
                <span class="mdl-ripple"></span>
              <i class="material-icons mdl-list__item-icon">person_add</i>
              {{ person.get_pretty_arrival_date() }}
              <span class="mdl-list__item-sub-title">Arrival</span>
            </span>
          </li>
          {% endif %}
      </ul>

    <div class="mdl-card__actions mdl-card--border">
        <a href="/person/vcard/vcard-{{ person.login }}.vcf" download class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Get V-Card
        </a>

        <a id="showcomment"
            onclick="myFunction()"
            class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Report error
        </a>
    </div>

    <div id="personCommentSection">
        <form class="form-inline" method="POST" action="comment">
            <textarea id="personCommentText" lines="4" type="" placeholder="Enter your info here" name="comment"></textarea><br />
            <input type="hidden" name="login" value="{{ person.login }}"><br/>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Send</button>
        </form>
    </div>


  </div>
  {% if commented %}
  <div id="personCommentThanks">
      <p>Thanks for your help :)</p>
  </div>
  {% endif %}
</div>

<div id="snackbar-root" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>

<script>
function myFunction() {
    var section = document.getElementById("personCommentSection");
    section.style.display = "block";
}

function showSnackbar(text) {
    var snackbarContainer = document.querySelector('#snackbar-root');
    var data = {
      message: text,
      timeout: 2000,
    };
    snackbarContainer.MaterialSnackbar.showSnackbar(data);
}

function copyToClipboard(value) {
    'use strict';
    var textArea = document.createElement("textarea");
    // Place in top-left corner of screen regardless of scroll position.
    textArea.style.position = 'fixed';
    textArea.style.top = 0;
    textArea.style.left = 0;

    // Ensure it has a small width and height. Setting to 1px / 1em
    // doesn't work as this gives a negative w/h on some browsers.
    textArea.style.width = '2em';
    textArea.style.height = '2em';

    // We don't need padding, reducing the size if it does flash render.
    textArea.style.padding = 0;

    // Clean up any borders.
    textArea.style.border = 'none';
    textArea.style.outline = 'none';
    textArea.style.boxShadow = 'none';

    // Avoid flash of white box if rendered for any reason.
    textArea.style.background = 'transparent';


    textArea.value = value;

    document.body.appendChild(textArea);

    textArea.select();

    try {
      var successful = document.execCommand('copy');
      var msg = successful ? 'successful' : 'unsuccessful';
      showSnackbar('"' + value + '"' + ' stored to clipboard');
    } catch (err) {
        showSnackbar('Copy to clipboard failed');
    }

    document.body.removeChild(textArea);
}
</script>

{% endblock %}
