<div id="mainAllPersonsContainer">

    <h2>Search results</h2>

    {{ search_result }}

    <br />
    <hr />

    {% for person in search_result['persons'] %}

    <div class="mdl-grid custom-grid">
        {% if persons|length == 0 %}
        Nobody to display
        {% else %}
        {% for person in persons %}
        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone card-style mdl-js-ripple-effect" style="background: url({{ url_for('person_image', login=person.login) }}) center / cover;">
            <a href="/person/{{ person.login }}">
            <span class="mdl-ripple"></span>
            <div class="cell-spacer"></div>
            <div class="cell-text-container">
                <span class="cell-text">
                {{ person.name }} {{ person.surname.upper() }}
                </span>
            </div>
            </a>
        </div>
        {% endfor %}
        {% endif %}
    </div>

    {% endfor %}

</div>