<div id="mainAllPersonsContainer">
<h4>Persons</h4>
{% if persons|length == 0 %}
-
{% else %}
<div class="mdl-grid custom-grid">
        {% for person in persons %}
        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone card-style mdl-js-ripple-effect" style="background: url({{ url_for('person_image', login=person.login) }}) center / cover;">
            <a href="/person/{{ person.login }}">
            <span class="mdl-ripple"></span>
            <div class="cell-spacer"></div>
            <div class="cell-text-container">
                <span class="cell-text">
                {{ person.name }} {{ person.surname.upper() }}
                </span>
            </div>
            </a>
        </div>
        {% endfor %}
</div>
{% endif %}

<h4>Teams</h4>
{% if teams|length == 0 %}
-
{% else %}
    <div class="mdl-grid custom-grid">
        {% for team in teams %}
        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tabl   et mdl-cell--2-col-phone card-style mdl-js-ripple-effect" style="background: url('https://d2slcw3kip6qmk.cloudfront.net/marketing/blogs/chart/manage-your-team@2x.png') center / cover;">
            <a href="{{ url_for('show_team', team=team.name) }}">
            <span class="mdl-ripple"></span>
            <div class="cell-spacer"></div>
            <div class="cell-text-container">
                <span class="cell-text">
                {{ team.name }}
                </span>
            </div>
            </a>
        </div>
    {% endfor %}
    </div>
{% endif %}

<h4>Rooms</h4>
{% if rooms|length == 0 %}
-
{% else %}
    <div class="mdl-grid custom-grid">
        {% for room in rooms %}
        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone card-style mdl-js-ripple-effect" style="background: url('https://www.citizenm.com/cache/images/citizenm_schipol_2-0199_web_00ecec985a24cc.jpg') center / cover;">
            <a href="{{ url_for('show_map_room', room_id=room.id) }}">
            <span class="mdl-ripple"></span>
            <div class="cell-spacer"></div>
            <div class="cell-text-container">
                <span class="cell-text">
                {{ room.name }}
                </span>
            </div>
            </a>
        </div>
    {% endfor %}
    </div>
{% endif %}
</div>