{% extends "index.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.orgchart.css') }}" media="screen" />
    <script src='{{ url_for('static', filename='js/jquery.min.js') }}'></script>
    <script src='{{ url_for('static', filename='js/jspdf.min.js') }}'></script>
    <script src='{{ url_for('static', filename='js/html2canvas.min.js') }}'></script>
    <script src='{{ url_for('static', filename='js/jquery.orgchart.min.js') }}'></script>
{% endblock %}


{% block body %}

<div id="chart-container"></div>
<script type="text/javascript">
  $(function() {

    var datasource = "{
      'id': 'rootNode', // It's a optional property which will be used as id attribute of node
      // and data-parent attribute, which contains the id of the parent node
      'collapsed': true, // By default, the children nodes of current node is hidden.
      'className': 'top-level', // It's a optional property which will be used as className attribute of node.
      'nodeTitlePro': 'Lao Lao',
      'nodeContentPro': 'general manager',
      'relationship': relationshipValue, // Note: when you activate ondemand loading nodes feature,
      // you should use json datsource (local or remote) and set this property.
      // This property implies that whether this node has parent node, siblings nodes or children nodes.
      // relationshipValue is a string composed of three "0/1" identifier.
      // First character stands for wether current node has parent node;
      // Scond character stands for wether current node has siblings nodes;
      // Third character stands for wether current node has children node.
      'children': [ // The property stands for nested nodes.
        { 'nodeTitlePro': 'Bo Miao', 'nodeContentPro': 'department manager', 'relationship': '110' },
        { 'nodeTitlePro': 'Su Miao', 'nodeContentPro': 'department manager', 'relationship': '111',
          'children': [
            { 'nodeTitlePro': 'Tie Hua', 'nodeContentPro': 'senior engineer', 'relationship': '110' },
            { 'nodeTitlePro': 'Hei Hei', 'nodeContentPro': 'senior engineer', 'relationship': '110' }
          ]
        },
        { 'nodeTitlePro': 'Yu Jie', 'nodeContentPro': 'department manager', 'relationship': '110' }
      ],
      'otherPro': anyValue
};
"

  $('#chart-container').orgchart({
    'data' : datasource,
    'nodeContent': 'title',
    'verticalLevel': 3,
    'visibleLevel': 4,
  });

});
</script>

{% endblock %}
