{% extends "index.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.orgchart.css') }}" media="screen" />
    <script src='{{ url_for('static', filename='js/jquery.min.js') }}'></script>
    <script src='{{ url_for('static', filename='js/jquery.orgchart.min.js') }}'></script>
{% endblock %}


{% block body %}

<div class="mdl-card mdl-shadow--2dp chart-card">
  CONTROLS GO HERE
</div>

<div class="mdl-card mdl-shadow--2dp chart-card">
  <div id="chart-container"></div>
</div>

<script type="text/javascript">
    $(function() {

    var datasource = {{ datasource | safe }}

    var oc = $('#chart-container').orgchart({
      'data' : datasource,
      'nodeContent': 'title',
      'toggleSiblingsResp': true,
      'pan': true,
      'zoom': true,
      'visibleLevel': 2,
      'createNode': function($node, data) {
        var url = "/photo/" + data.login
        var image = '<div class="chart-photo" style="height:130px; width:118px; filter: grayscale(100%); background: url(\''+ url +'\')  center / cover;"><br /></div>';
        var infos = $node.find(".content")[0];
        infos.innerHTML = image + "</br>" + data.title;
      }
    });


  $('#chart-container').find('.node').on('click', function () {
    oc.showChildren($(this));
  });

  });
</script>

{% endblock %}
