{% extends 'admin/index.html' %}
{% block body %}

<h3>Import CSV file</h3>

{% if error %}
Error: '{{ error }}'
{% endif %}

<form class="form-inline" method="POST" enctype="multipart/form-data" action="import_csv">
    <input type="file" name="csv_file" id="csv_file"><br /><br />
    <input type="submit" value="Import" name="submit">
</form>

<br />


<h3>Export persons as CSV</h3>

<a href="/admin/database/trombi_database.csv" download>
    <button type="submit" class="btn">
        <i class="icon-circle-arrow-down"></i> Export
    </button>
</a>

<br />


<h3>Import JSON file</h3>

{% if error %}
Error: '{{ error }}'
{% endif %}

<form class="form-inline" method="POST" enctype="multipart/form-data" action="import_json">
    <input type="file" name="json_file" id="json_file"><br /><br />
    <input type="submit" value="Import" name="submit">
</form>

<br />


<h3>Export database as JSON</h3>

<a href="/admin/database/trombi_database.json" download>
    <button type="submit" class="btn">
        <i class="icon-circle-arrow-down"></i> Export as JSON
    </button>
</a>

<br />

<h3>Create a backup of the database on the server</h3>

<form class="form-inline" method="POST" action="create_database_backup">
    <button type="submit" class="btn">
        <i class="icon-circle-arrow-down"></i> Create database backup
    </button>
</form>

<br />

<h3>Restore a backup of the database from the server</h3>

<form class="form-inline adminForm" method="POST" action="load_backuped_database">

    <select name="saves_select" size="5" style="width:500px;">
        {% for item in available_saves %}
            <option>{{ item }}</option>
        {% endfor %}
    </select>
    <br /><br />
    <button type="submit" class="btn">
        <i class="icon-circle-arrow-up"></i> Restore the selected database copy
    </button>
</form>

{% endblock %}
