{% extends 'admin/master.html' %}

{% block body %}
{{ super() }}
<div class="row-fluid">

    <div>
        {% if current_user.is_authenticated %}
        <h1>Database status</h1>
        <br />
        <table>
            <tr>
                <th>Login</th>
                <th>Errors</th>
            </tr>
            {% for error in errors %}
            <tr>
                <td><a href="/admin/person/edit/?url=/admin/person&id={{ error['person'].id }}">{{ error['person'] }}</a></td>
                <td>
                    {% for error_description in error['errors'] %}
                        {{ error_description }},
                    {% endfor %}
                </td>
            {% endfor %}
            </tr>
        </table>
        <br />
        {% else %}
        <form method="POST" action="">
            {{ form.hidden_tag() if form.hidden_tag }}
            {% for f in form if f.type != 'CSRFTokenField' %}
            <div>
            {{ f.label }}
            {{ f}}
            {% if f.errors %}
            <ul>
                {% for e in f.errors %}
                <li>{{ e }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>
            {% endfor %}
            <button class="btn" type="submit">{{ gettext('Submit') }}</button>
        </form>
        {{ link | safe }}
        {% endif %}
    </div>

    <a class="btn btn-primary" href="/"><i class="icon-arrow-left icon-white"></i> Back</a>
</div>
{% endblock body %}
