/* by Mogmi */

body {
  background-color: #efefef;
}

a {
  text-decoration: none;
  color: #e74c3c;
}

.page-content {
  padding: 16px;
  min-height: 850px;
}

.imgLogo {
  height: 48px;
}

/* All */

.allPersonsHeader {
  position: relative;
  width: 1166px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
}

.allPersonsHeaderMessage {
  line-height: 60px;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
}

.viewModeContainer {
  height: 60px;
  position: absolute;
  right:0px;
  top: 8px;
}

.selectedImageIndicator {
  border-bottom: solid 5px #e74c3c;
}

.notSelectedImageIndicator {
  border-bottom: solid 5px rgba(0, 0, 0, 0);
}

.custom-grid {
  max-width: 1200px;
  margin: 0 auto;
}
.cell-spacer {
  min-height: 160px;
}
.cell-text-container {
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  text-overflow: ellipsis;
}

.cell-text {
  color: #fff;
  line-height: 42px;
  margin-left: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  white-space: nowrap ;
}
.card-style {
  background: #fff;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
}
.card-style:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-style:hover .cell-text-container {
  background-color: rgba(0, 0, 0, 0.5);
}

/* All list list */

.list_data_table_container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.list_data_table {
  width: 1200px;
}

.list_list_img {
  width: 100px;
  height: 100px;
}

/* Person */

.demo-card-wide.mdl-card {
  position: relative;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 256px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-card__title-text-container {
  height: 240px;
  width: 550px;
  position: absolute;
  left: 234px;
  top: 16px;
  color: #000;
}

.person_avatar {
  position: absolute;
  left: 16px;
  top: 16px;
  width: 200px;
  height: 240px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* Calendar */

.calendar_legend {
  margin-bottom: 16px;
  text-align: center;
}

.calendar_legend_birthday {
  display: inline-block;
  width: 100px;
  color: #ffffff;
  background: #e74c3c;
  padding:8px;
}

.calendar_legend_arrival {
  display: inline-block;
  width: 100px;
  color: #ffffff;
  background: #4f60b9;
  padding:8px;
  margin-left: 8px;
}

.calendar_container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}

/* Tree */

.titleTeamName {
  float: left;
}

.tree {
  overflow: auto;
  min-height: 830px;
}


.rootTreeNodeElement {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 128px;
  height: 168px;
}

.rootTreeNodeElement:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.treeNode {
  position: relative;
  top: -2px;
  left: -2px;
  width: 128px;
  height: 168px;
}

.treeNodeTextContainer {
  position: relative;
  width: 128px;
  height: 42px;
  top: 124px;
  left: -2px;
  background-color: rgba(0, 0, 0, 0.5);
}

.treeNodeText {
  position: relative;
  top: -2px;
  left: -2px;
  color: #fff;
}

.rootTreeNodeElementTeam {
  position: relative;
  top: -2px;
  left: -2px;
  background-color: #e74c3c;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 128px;
  height: 128px;

}

.rootTreeNodeElementTeam:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.treeNodeTeam {
  position: relative;
  top: -2px;
  left: -2px;
  width: 128px;
  height: 128px;
}

.treeNodeTextTeam {
  position: absolute;
  top: 40%;
  width: 128px;
  height: 128px;
  color: #fff;
}
