/* by Mogmi */

body {
  background-color: #efefef;
}

a {
  text-decoration: none;
  color: #3f51b5;
}

.page-content {
  padding: 16px;
  min-height: 750px;
}

/* All */

.custom-grid {
  max-width: 1200px;
  margin: 0 auto;
}
.cell-spacer {
  min-height: 160px;
}
.cell-text-container {
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  text-overflow: ellipsis;
}

.cell-text {
  color: #fff;
  line-height: 42px;
  margin-left: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  white-space: nowrap ;
}
.card-style {
  background: #fff;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
}
.card-style:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-style:hover .cell-text-container {
  display: none;
}

/* Tree */

.tree {
  overflow: auto;
  min-height: 830px;
}


.rootTreeNodeElement {
  background-color: rgba(0, 0, 0, 0.5);
  width: 64px;
  height: 64px;
}

.treeNode {
  position: relative;
  top: -2px;
  left: -2px;
  width: 64px;
  height: 64px;
}

.treeNodeText {
  width: 64px;
  height: 64px;
  color: #fff;
}
