/* by Mogmi */

body {
  background-color: #efefef;
  font-family: 'Roboto';
  font-style: normal;
}

a {
  text-decoration: none;
  color: #368cbf;
}

.page-content {
  padding: 16px;
  min-height: 850px;
}

.imgLogo {
  height: 24px;
}

/* All */

.allPersonsHeader {
  position: relative;
  width: 1166px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
}

.allPersonsHeaderMessage {
  line-height: 60px;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
}

.viewModeContainer {
  height: 60px;
  position: absolute;
  right:0px;
  top: 8px;
}

.selectedImageIndicator {
  border-bottom: solid 5px #e74c3c;
}

.notSelectedImageIndicator {
  border-bottom: solid 5px rgba(0, 0, 0, 0);
}

.custom-grid {
  max-width: 1200px;
  margin: 0 auto;
}
.cell-spacer {
  min-height: 160px;
}
.cell-text-container {
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  text-overflow: ellipsis;
}

.cell-text {
  color: #fff;
  line-height: 42px;
  margin-left: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  white-space: nowrap ;
}
.card-style {
  background: #fff;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
}
.card-style:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-style:hover .cell-text-container {
  background-color: rgba(0, 0, 0, 0.5);
}

/* All list */

.list_data_table_container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.list_data_table {
  width: 1200px;
}

.list_list_img {
  width: 100px;
  height: 100px;
}

/* Trivia */
.triviaCard {
  position: relative;
  width: 50%;
  background: #fcfcfc;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.triviaCardContent {
  padding: 48px;
}

/* Person */

.personCard {
  position: relative;
  width: 500px;
  background: #fcfcfc;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.personMapCard {
  position: relative;
  width: 1000px;
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  padding: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
}

#map {
  background-color: #ff00ff;
  margin-left: auto;
  margin-right: auto;

  /*width: 100%;*/
}

.personCardManagerContainer {
  position: absolute;
  width: 132px;
  height: 212px;
  top: 0px;
  left: -200px;
  background: #fcfcfc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
}

.personCardManagerContainer:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.21), 0 6px 6px rgba(0, 0, 0, 0.27);
}

.personCardManagerPicture {
  position: absolute;
  background: #fcfcfc;
  width: 132px;
  height: 132px;
  top: 32px;
}

.personCardManagerTitle {
  position: absolute;
  background: #e36356;
  width: 132px;
  height: 32px;
  color: #fcfcfc;
  font-family: 'Roboto';
  padding-top: 8px;
  text-align: center;
}

.personCardManagerName {
  position: absolute;
  background: #fcfcfc;
  width: 132px;
  height: 48px;
  color: black;
  font-family: 'Roboto';
  bottom: 0px;
  padding-top: 8px;
  text-align: center;
}

.personCardHeader {
  height: 200px;
  /*background: url('/static/images/person_header.png') center / cover;*/
  margin-bottom: 40px;
  background: #e36356;
}

.personCardHeaderTeamIndicator {
  position: absolute;
  color: #368cbf;
  width: 250px;
  height: 44px;
  text-align: center;
  top: 212px;
  left: 233px;
  padding: 4px;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
}

.personCardHeaderName {
  position: absolute;
  color: #fcfcfc;
  width: 234px;
  top: 32px;
  left: 250px;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
}

.personCardHeaderDescription {
  position: absolute;
  color: #fcfcfc;
  width: 234px;
  top: 120px;
  left: 250px;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}

.personCardHeaderAvatar {
  position: absolute;
  height: 200px;
  width: 200px;
  height: 240px;
  top: 16px;
  left: 16px;
  border: solid 8px #fcfcfc;
  /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);*/
}

.personCardDownloadContainer {
  text-align: right;
}

.demo-card-wide.mdl-card {
  position: relative;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 256px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-card__title-text-container {
  height: 240px;
  width: 550px;
  position: absolute;
  left: 234px;
  top: 16px;
  color: #000;
}

.person_avatar {
  position: absolute;
  left: 16px;
  top: 16px;
  width: 200px;
  height: 240px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* Calendar */

.calendar_legend {
  margin-bottom: 16px;
  text-align: center;
}

.calendar_legend_birthday {
  display: inline-block;
  width: 100px;
  color: #ffffff;
  /*background: #368cbf;*/
  background: #a9d03f;
  padding:8px;
}

.calendar_legend_arrival {
  display: inline-block;
  width: 100px;
  color: #ffffff;
  background: #368cbf;
  padding:8px;
  margin-left: 8px;
}

.calendar_legend_event {
    display: inline-block;
    width: 100px;
    color: #ffffff;
    background: #db6b1a;
    padding:8px;
    margin-left: 8px;
}

.calendar_container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}

/* Tree */

.titleTeamName {
  float: left;
}

.tree {
  overflow: auto;
  min-height: 830px;
}

.rootTreeNodeElement {
  position: relative;
  width: 128px;
  height: 164px;
}

.rootTreeNodeElementFiller {
  position: absolute;
  width: 132px;
  height: 168px;
  left: -2px;
  top: -2px;
  color: #fcfcfc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
  font-family: 'Roboto';
  font-weight: 400;
}

.rootTreeNodeLinkCenter {
  display: table;
  position: absolute;
  background: #e74c3c;
  width: 133px;
  height: 169px;
  left: -1px;
  top: -1px;
}

.rootTreeNodeLinkCenterChild {
  display: table-cell;
  vertical-align: middle;
}

.verticalLine {
  position: absolute;
  height: 169px;
  border-left: 1px solid #3388dd;
  top: -3px;
  left: 50%;
}

.rootTreeNodeElementFiller:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.21), 0 6px 6px rgba(0, 0, 0, 0.27);
}

.treeNodeTextContainer {
  position: relative;
  width: 132px;
  height: 42px;
  top: 124px;
  left: -2px;
  background-color: rgba(0, 0, 0, 0.5);
}

.treeNodeText {
  position: relative;
  top: -2px;
  left: -2px;
  color: #fff;
}

/*
.rootTreeNodeElement {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 60px;
  height: 60px;
  background: rgb(44, 102, 20)
}

.rootTreeNodeElement:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.treeNode {
  position: relative;
  /*top: -22px;
  left: -4px;
  width: 128px;
  height: 128px;
}

.treeNodeTextContainer {
  position: relative;
  width: 128px;
  height: 42px;
  top: 124px;
  left: -2px;
  background-color: rgba(0, 0, 0, 0.5);
}

.treeNodeText {
  position: relative;
  top: -2px;
  left: -2px;
  color: #fff;
}

.rootTreeNodeElementTeam {
  position: relative;
  top: -2px;
  left: -2px;
  background-color: #e74c3c;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 128px;
  height: 166px;
}


.rootTreeNodeElementTeamInvisible {
  position: relative;
  top: -2px;
  left: -2px;
  width: 128px;
  height: 128px;
}

.rootTreeNodeElementTeam:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.treeNodeTeam {
  position: relative;
  top: -2px;
  left: -2px;
  width: 128px;
  height: 128px;
}

.treeNodeTextTeam {
  position: absolute;
  top: 40%;
  width: 128px;
  height: 128px;
  color: #fff;
}
*/
