/* by Mogmi */

body {
  background-color: #efefef;
}

a {
  text-decoration: none;
  color: #e74c3c;
}

.page-content {
  padding: 16px;
  min-height: 850px;
}

.imgLogo {
  height: 48px;
}

/* All */

.custom-grid {
  max-width: 1200px;
  margin: 0 auto;
}
.cell-spacer {
  min-height: 160px;
}
.cell-text-container {
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  text-overflow: ellipsis;
}

.cell-text {
  color: #fff;
  line-height: 42px;
  margin-left: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  white-space: nowrap ;
}
.card-style {
  background: #fff;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
}
.card-style:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-style:hover .cell-text-container {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Calendar */

.calendar_container {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 200px;
  margin-right: 200px;
}

/* Tree */

.tree {
  overflow: auto;
  min-height: 830px;
}


.rootTreeNodeElement {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 128px;
  height: 168px;
}

.rootTreeNodeElement:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.treeNode {
  position: relative;
  top: -2px;
  left: -2px;
  width: 128px;
  height: 168px;
}

.treeNodeTextContainer {
  position: relative;
  width: 128px;
  height: 42px;
  top: 124px;
  left: -2px;
  background-color: rgba(0, 0, 0, 0.5);
}

.treeNodeText {
  position: relative;
  top: -2px;
  left: -2px;
  color: #fff;
}

.rootTreeNodeElementTeam {
  position: relative;
  top: -2px;
  left: -2px;
  background-color: #e74c3c;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 128px;
  height: 128px;

}

.rootTreeNodeElementTeam:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.treeNodeTeam {
  position: relative;
  top: -2px;
  left: -2px;
  width: 128px;
  height: 128px;
}

.treeNodeTextTeam {
  position: absolute;
  top: 40%;
  width: 128px;
  height: 128px;
  color: #fff;
}
