<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>{{ title }}</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='material_font.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='fonts.css') }}" type="text/css">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='material.indigo-amber.min.css') }}" media="screen" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" media="screen" />

  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src='{{ url_for('static', filename='js/jquery.min.js') }}'></script>

  <style>
  .demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type {
    padding-right: 0;
  }
  </style>
  
  {% block head %} {% endblock %}
</head>

<body>

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title"><a href="http://trombi.mogmi.fr"><img class="imgLogo" src="{{ url_for('static', filename='images/logo.png') }}" /></a></span>

        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>

        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" href="/all">People</a>
          <a class="mdl-navigation__link" href="/newpersons">New persons</a>
          <a class="mdl-navigation__link" href="/team">Teams</a>
          <a class="mdl-navigation__link" href="/calendar">Calendar</a>
        </nav>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
          <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
            <i class="material-icons">search</i>
          </label>
          <form method="post" action="{{ url_for('search') }}">
            <input class="mdl-textfield__input" type="text" placeholder="Search" name="search" id="fixed-header-drawer-exp">
          </form>
        </div>

      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title"></span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/all">People</a>
        <a class="mdl-navigation__link" href="/newpersons">New persons</a>
        <a class="mdl-navigation__link" href="/team">Teams</a>
        <a class="mdl-navigation__link" href="/calendar">Calendar</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">
        {% block body %} {% endblock %}
      </div>
      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
          <div class="mdl-logo">Trombi</div>
          <ul class="mdl-mini-footer__link-list">
            <li><a href="https://github.com/Mogmi95/Trombi">Source code available on Github</a></li>
          </ul>
        </div>
      </footer>
    </main>
  </div>

</body>

</html>
