<!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" media="screen" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>
    <div class="header">
        <img src="{{ url_for('static', filename='images/cloud.png') }}" />
        <h1>Trombi</h1>
    </div>

    {% for team in teams %}
    <div class="block_departement" id="{{ team.id }}">
        <h2>{{ team.name }}</h2>

        {% for person in team.persons %}
        <a href="javascript:void(0)">
            <div class="personBox" id="{{ person.id }}">
                <img class="personBoxImage" src="uploads/{{ person.image }}" />
                <div class="personBoxText">
                    <p>{{ person.name }}</p>
                </div>
            </div>
        </a>
        {% endfor %}

        <div class="personAddBox">
            <div class="personBoxImage">
                <img class="personBoxImagePlus" src="{{ url_for('static', filename='images/plus-circle.png') }}" />
            </div>

            <div class="personBoxText">
                <p>Ajouter une personne</p>
            </div>
        </div>
    </div>
    {% endfor %}

    <div id="formPlaceHolder"></div>

    <script>
        $(document).ready(function() {
            $(".personBox").click(function() {
                var request = new XMLHttpRequest();
                request.onload = function() {
                    dom = request.responseText;
                    $("#formPlaceHolder").append(dom);

                }
                request.open("GET", "/ajax/showEdit/" + $(this).attr('id'), true);
                request.send();
            });

            $("#editInfo").click(function() {
                $(".personRow").hide(100);
                $(".personRowInput").show(100);
                $("#editInfo").hide();
                $("#validateInfo").show();
            });

            $("#validateInfo").click(function() {
                $(".personRowInput").hide(100);
                $(".personRow").show(100);
                $("#validateInfo").hide();
                $("#editInfo").show();
            });

            $(".personAddBox").click(function() {
                // We signal to the Python to create a new person in the
                // current
                var request = new XMLHttpRequest();

                testFinal = $(this);

                request.onload = function() {
                    // We create the new person (empty but with the id)
                    response = request.responseText;

                    personBox = jQuery('<div/>', {
                        class: 'personBox',
                        id: response
                    });
                    personBoxImage = jQuery('<img/>', {
                        class: 'personBoxImage',
                    });
                    personBoxText = jQuery('<div/>', {
                        class: 'personBoxText'
                    });
                    personBoxTextP = jQuery('<p/>', {
                        text: response
                    });

                    personBoxTextP.appendTo(personBoxText);

                    personBoxImage.appendTo(personBox);
                    personBoxText.appendTo(personBox);

                    personBox.hide();
                    personBox.appendTo(testFinal.prev())
                    personBox.fadeIn();
                };
                // We point the request at the appropriate command
                request.open("GET", "/ajax/createPerson/" + $(this).parent().attr('id'), true);
                // and then we send it off
                request.send();
            });

        });
    </script>

</body>

</html>
