{% extends "index.j2" %}

{% block body %}

<div class="personCard">

{% if person.manager is not none %}
<a href="/person/{{ person.manager.login }}">
  <div class="personCardManagerContainer">
    <div class="personCardManagerTitle">Manager</div>
    <div class="personCardManagerPicture" style="background: url({{ url_for('static', filename='images/photos/' + person.manager.login + '.jpg') }}) center / cover;"></div>
    <div class="personCardManagerName">{{ person.manager.name }}<br/>{{ person.manager.surname }}</div>
  </div>
</a>
{% endif %}


  <div class="personCardHeader">
    <div class="personCardHeaderAvatar" style="background: url({{ url_for('static', filename='images/photos/' + person.login + '.jpg') }}) center / cover;"></div>
    {% if person.team is not none %}
      <a href="/team/{{ person.team.name }}"><div class="personCardHeaderTeamIndicator">{{ person.team.name }}</div></a>
    {% endif %}
    <div class="personCardHeaderName">{{ person.name }}<br /><br />{{ person.surname.upper() }}</div>
    <div class="personCardHeaderDescription">{{ person.job }}</div>
  </div>

  <div class="mdl-card__supporting-text">
    <!--<div class="mdl-card__actions mdl-card--border"></div>-->
    <ul class="demo-list-icon mdl-list">
      {% if person.birthday != '' %}
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-icon">cake</i>
          {{ person.get_pretty_birthday_date() }}
        </span>
      </li>
      {% endif %}
      {% if person.arrival != '' %}
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-icon">person_add</i>
          {{ person.get_pretty_arrival_date() }}
        </span>
      </li>
      {% endif %}
      {% if person.email != '' %}
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-icon">mail</i>
          <a href="mailto:{{ person.email }}">{{ person.email }}</a>
        </span>
      </li>
      {% endif %}
      {% if person.mobile != '' %}
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-icon">call</i>
          <span><a href="tel:{{ person.mobile }}">{{ person.mobile }}</a> (mobile)</span>
        </span>
      </li>
      {% endif %}
      {% if person.fixe != '' %}
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-icon">call</i>
          <span><a href="tel:{{ person.fixe }}">{{ person.fixe }}</a> (fixe)</span>
        </span>
      </li>
      {% endif %}
      {% if person.skype != '' %}
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          <img class="mdl-list__item-icon" src="{{ url_for('static', filename='images/skype.png') }}" />
          <span><a href="skype:{{ person.skype }}?add">{{ person.skype }} </a></span>
        </span>
      </li>
      {% endif %}
    </ul>

    <div class="personCardDownloadContainer">
    <a href="/person/vcard/vcard-{{ person.login }}.vcf" download>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Download V-Card
      </button>
    </a>
</div>
  </div>
</div>

<div class="personMapCard">
  <canvas id="map"></canvas>
</div>


<script>
var canvas = document.getElementById('map');
var context = canvas.getContext("2d");
var img = new Image();
var indicator = new Image();

//canvas.style.width ='100';
//canvas.style.height='100%';

img.onload = function () {
  // We search the dimension of the image to fit the canvas without deformation
  var imgRatio = img.width / img.height;
  var canvasRatio = canvas.width / canvas.height;
  var imgWidth;
  var imgHeight;

  if (canvasRatio > imgRatio) {
    imgWidth = img.width * canvas.height / img.height;
    imgHeight = canvas.height;
  } else {
    imgWidth = canvas.width;
    imgHeight = img.height * canvas.width / img.width;
  }

  var xMargin = (canvas.width - imgWidth) / 2;
  var yMargin = (canvas.height - imgHeight) / 2;

  context.drawImage(img, xMargin, yMargin, imgWidth, imgHeight)
  indicator.onload = function () {
    var xPos = imgWidth * {{ person.room.map_x_position }} / 100 - indicator.width / 2;
    var yPos = imgHeight * {{ person.room.map_y_position }} / 100 - indicator.height / 2;
    context.drawImage(indicator, xPos + xMargin, yPos + yMargin)
  }
  indicator.src = "{{url_for('static', filename='images/favicon.png') }}";
  //context.drawImage(img, {{ person.room.map_x_position }}, {{ person.room.map_y_position }});
}
img.src = "{{url_for('static', filename='images/maps/' + person.room.get_floor_string() + '.png') }}";

</script>


{% endblock %}
