{% extends "index.j2" %}

{% block body %}

<h2>{{team.name}}</h2>

<div class="viewModeContainer">
  <a href="{{ list_url }}?list=false" title="Toggle cards mode"><img class="{% if list_mode is none %}selectedImageIndicator{% else %}notSelectedImageIndicator{% endif %}" src="{{ url_for('static', filename='images/ic_view_module.png') }}" /></a>
  <a href="{{ list_url }}?list=true" title="Toggle list mode"><img class="{% if list_mode is none %}notSelectedImageIndicator{% else %}selectedImageIndicator{% endif %}" src="{{ url_for('static', filename='images/ic_view_list.png') }}" /></a>
</div>

{% if list_mode is none %}

<div class="tree">
  <div id="chart_div"></div>
</div>
<script type="text/javascript">
google.charts.load('current', {packages:["orgchart"]});
google.charts.setOnLoadCallback(dlistChart);


function dlistChart() {
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Name');
  data.addColumn('string', 'Manager');
  data.addColumn('string', 'ToolTip');


  // For each orgchart box, provide the name, manager, and tooltip to show.
  data.addRows([
    {{ tree | safe }}
  ]);

  // Create the chart.
  var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));
  // Draw the chart, setting the allowHtml option to true for the tooltips.

  chart.draw(data, {allowHtml:true, size:'large', nodeClass:"rootTreeNodeElement", selectedNodeClass:"rootTreeNodeElement"});
}
</script>

{% else %}

<div class="list_data_table_container">
  <table class="list_data_table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Picture</th>
        <th class="mdl-data-table__cell--non-numeric">Login</th>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th class="mdl-data-table__cell--non-numeric">Surname</th>
        <th class="mdl-data-table__cell--non-numeric">Team</th>
        <th class="mdl-data-table__cell--non-numeric">Skype</th>
        <th class="mdl-data-table__cell--non-numeric">VCard</th>
      </tr>
    </thead>
    <tbody>
      {% for person in team.persons %}
      <tr>
        <td class="mdl-data-table__cell--non-numeric"><a href="/person/{{ person.login }}"><div class="list_list_img" style="background: url({{ url_for('static', filename='images/photos/' + person.login + '.jpg') }}) center / cover;"></div></a></td>
        <td class="mdl-data-table__cell--non-numeric">{{ person.login }}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ person.name }}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ person.surname }}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ person.team.name }}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ person.skype }}</td>
        <td class="mdl-data-table__cell--non-numeric"><a href="/person/vcard/vcard-{{ person.login }}.vcf" download><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">VCard</button></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% endblock %}
