/* Trombi V2 by Mogmi */

/* Material design base */

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.demo-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.demo-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
  z-index: -1;
}
.demo-drawer .demo-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
  height: 151px;
}
.demo-avatar-dropdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.demo-navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.demo-layout .demo-navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.demo-layout .demo-navigation .mdl-navigation__link:hover {
  background-color: #FB8C00;
  color: #ffffff;
}
.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.demo-content {
  height: 100%;
}

/* Display all persons */

.custom-grid {
  max-width: 1080px;
  margin: 0 auto;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.allPersonsHeader {
  padding-top: 8px;
  padding-left: 12px;
}

.custom-grid a {
  text-decoration: none;
}

.cell-spacer {
  min-height: 160px;
}
.cell-text-container {
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  text-overflow: ellipsis;
}

.cell-text {
  color: #fff;
  line-height: 42px;
  margin-left: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  white-space: nowrap ;
}

.card-style {
  background: #fff;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-style:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-style:hover .cell-text-container {
  background-color: rgba(0, 0, 0, 0.5);
}

.list_data_table_container {
  width: 100%;
  margin-top: 16px;
}

.list_data_table {
  width: 100%;
}

.list_list_img {
  width: 100px;
  height: 100px;
}

/* Display one person */

.profile-card {
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
  max-width: 1080px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  background-color: #fff;
}

.profile-card-header {
  background-image: linear-gradient(to bottom, #37474F 70%, white 50%);
  background-repeat: no-repeat;
  color: #fff;
}

.profile-info-header {
  width: auto;
}

.profile-image {
  float: left;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  height: 200px;
  width: 150px;
  margin: 16px;
  border-radius: 8px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.profile-info {
  float: left;
  padding-top: 16px;
  padding-left: 8px;
  /*background-color: #00BCD4;*/
}

.profile-info-title {
  font-size: xx-large;
  font-weight: 500;
}

.profile-info-subtitle {
  font-size: x-large;
  font-weight: 400;
  padding-top: 16px;
}

.profile-info-subsection {
  float: left;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.profile-info-below {
  font-size: x-large;
  font-weight: 300;
  padding-top: 16px;
}

#profile-map {
  min-height: 300px;
  height: 90%;
}

.person-panel {
  margin: 32px;
}

/*  Trick to prevent non-css page to be displayed
    Must stay at the end of the file!
*/

html {
  visibility: visible;
  opacity: 1;
}